<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.MicroproyectoConnectionString"
            connectionString="Data Source=LAPTOP-J96M7O62;Initial Catalog=Microproyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.Microproyecto_progConnectionString"
            connectionString="Data Source=LAPTOP-J96M7O62\SQLEXPRESS02;Initial Catalog=Microproyecto_prog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.Microproyecto_progConnectionString1"
            connectionString="Data Source=DESKTOP-RF4B50S\SQLEXPRESS;Initial Catalog=Microproyecto_prog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.Microproyecto_progConnectionString2"
            connectionString="Data Source=DESKTOP-TAROVF3\SQLEXPRESS;Initial Catalog=Microproyecto_prog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>