USE [master]
GO
/****** Object:  Database [Microproyecto_prog]    Script Date: 18/09/2023 11:08:44 ******/
CREATE DATABASE [Microproyecto_prog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microproyecto_prog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Microproyecto_prog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microproyecto_prog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Microproyecto_prog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microproyecto_prog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microproyecto_prog]
GO
/****** Object:  Table [dbo].[_HabitacionXMotel]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_HabitacionXMotel](
	[Id_TipoHabXMotel] [int] IDENTITY(1,1) NOT NULL,
	[Precio] [money] NOT NULL,
	[Id_Motel] [int] NOT NULL,
	[Id_TipoHabitaciones] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_TipoHabXMotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formas_de_pago]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formas_de_pago](
	[Id_FormadePago] [int] IDENTITY(1,1) NOT NULL,
	[Forma_pago] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_FormadePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lista_Usuarios]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lista_Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Usuario] [nvarchar](25) NOT NULL,
	[Psswd] [nvarchar](max) NOT NULL,
	[Tipo_usuario] [nvarchar](25) NOT NULL,
	[Estatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogMantenimiento_Tabla]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMantenimiento_Tabla](
	[Id_Tabla] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Usuario] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Estatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__LogMante__9D742D2FAEF52A10] PRIMARY KEY CLUSTERED 
(
	[Id_Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motel]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motel](
	[Id_Motel] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](25) NOT NULL,
	[Ubicacion] [nvarchar](max) NOT NULL,
	[Id_Sector] [int] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Motel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motel_Forma_Pago]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motel_Forma_Pago](
	[Id_Motel_forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[Id_Motel] [int] NOT NULL,
	[Id_Formas_Pago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Motel_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puntuaciones]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puntuaciones](
	[Id_Puntuacion] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Valoracion] [int] NOT NULL,
	[Resena] [nvarchar](max) NOT NULL,
	[Id_Motel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Puntuacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sectores]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sectores](
	[Id_Sector] [int] IDENTITY(1,1) NOT NULL,
	[Sector] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Sector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[ID_Servicios] [int] IDENTITY(1,1) NOT NULL,
	[Servicio] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[ID_Servicios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiciosXhabitaciones]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiciosXhabitaciones](
	[ID_ServiciosXhabitaciones] [int] IDENTITY(1,1) NOT NULL,
	[ID_Motel] [int] NOT NULL,
	[ID_Habitaciones] [int] NOT NULL,
	[ID_Servicio] [int] NOT NULL,
 CONSTRAINT [PK_ServiciosXhabitaciones] PRIMARY KEY CLUSTERED 
(
	[ID_ServiciosXhabitaciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHabitacion]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion](
	[Id_TipoHabitaciones] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Habitacion] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_TipoHabitaciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_HabitacionXMotel]  WITH CHECK ADD  CONSTRAINT [fk_TipoHab01] FOREIGN KEY([Id_TipoHabitaciones])
REFERENCES [dbo].[TipoHabitacion] ([Id_TipoHabitaciones])
GO
ALTER TABLE [dbo].[_HabitacionXMotel] CHECK CONSTRAINT [fk_TipoHab01]
GO
ALTER TABLE [dbo].[_HabitacionXMotel]  WITH CHECK ADD  CONSTRAINT [fk02_Motel] FOREIGN KEY([Id_Motel])
REFERENCES [dbo].[Motel] ([Id_Motel])
GO
ALTER TABLE [dbo].[_HabitacionXMotel] CHECK CONSTRAINT [fk02_Motel]
GO
ALTER TABLE [dbo].[Motel]  WITH CHECK ADD  CONSTRAINT [FK_Motel_Lista_Usuarios] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Lista_Usuarios] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Motel] CHECK CONSTRAINT [FK_Motel_Lista_Usuarios]
GO
ALTER TABLE [dbo].[Motel]  WITH CHECK ADD  CONSTRAINT [FK_Motel_Sectores] FOREIGN KEY([Id_Sector])
REFERENCES [dbo].[Sectores] ([Id_Sector])
GO
ALTER TABLE [dbo].[Motel] CHECK CONSTRAINT [FK_Motel_Sectores]
GO
ALTER TABLE [dbo].[Motel_Forma_Pago]  WITH CHECK ADD  CONSTRAINT [fk_MotelxPago] FOREIGN KEY([Id_Motel])
REFERENCES [dbo].[Motel] ([Id_Motel])
GO
ALTER TABLE [dbo].[Motel_Forma_Pago] CHECK CONSTRAINT [fk_MotelxPago]
GO
ALTER TABLE [dbo].[Motel_Forma_Pago]  WITH CHECK ADD  CONSTRAINT [fk_PagoxMotel] FOREIGN KEY([Id_Formas_Pago])
REFERENCES [dbo].[Formas_de_pago] ([Id_FormadePago])
GO
ALTER TABLE [dbo].[Motel_Forma_Pago] CHECK CONSTRAINT [fk_PagoxMotel]
GO
ALTER TABLE [dbo].[Puntuaciones]  WITH CHECK ADD  CONSTRAINT [fk01_Motel] FOREIGN KEY([Id_Motel])
REFERENCES [dbo].[Motel] ([Id_Motel])
GO
ALTER TABLE [dbo].[Puntuaciones] CHECK CONSTRAINT [fk01_Motel]
GO
ALTER TABLE [dbo].[ServiciosXhabitaciones]  WITH CHECK ADD  CONSTRAINT [FK_ServiciosXhabitaciones_Servicios] FOREIGN KEY([ID_Servicio])
REFERENCES [dbo].[Servicios] ([ID_Servicios])
GO
ALTER TABLE [dbo].[ServiciosXhabitaciones] CHECK CONSTRAINT [FK_ServiciosXhabitaciones_Servicios]
GO
ALTER TABLE [dbo].[ServiciosXhabitaciones]  WITH CHECK ADD  CONSTRAINT [FK_ServiciosXhabitaciones_TipoHabitacion] FOREIGN KEY([ID_Habitaciones])
REFERENCES [dbo].[TipoHabitacion] ([Id_TipoHabitaciones])
GO
ALTER TABLE [dbo].[ServiciosXhabitaciones] CHECK CONSTRAINT [FK_ServiciosXhabitaciones_TipoHabitacion]
GO
ALTER TABLE [dbo].[ServiciosXhabitaciones]  WITH CHECK ADD  CONSTRAINT [FK_ServicioXmotel] FOREIGN KEY([ID_Motel])
REFERENCES [dbo].[Motel] ([Id_Motel])
GO
ALTER TABLE [dbo].[ServiciosXhabitaciones] CHECK CONSTRAINT [FK_ServicioXmotel]
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Precios]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Buscar_Precios](
@Id_Motel int,
@ID_Tipo int
)
as
begin
	select Precio from [dbo].[_HabitacionXMotel]
	where Id_Motel = @Id_Motel and Id_TipoHabitaciones = @ID_Tipo
end;
GO
/****** Object:  StoredProcedure [dbo].[EditarMantenimiento]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[EditarMantenimiento]
@Id_Table int,
@Nombre nvarchar(50),
@Descripcion nvarchar(200),
@Fecha Datetime,
@Estatus nvarchar(50)

as
begin
	update [dbo].[LogMantenimiento_Tabla]
	 set  Nom_Usuario = @Nombre,
		  Descripcion =@Descripcion,
		  Fecha = @Fecha,
		  Estatus = @Estatus
	where Id_Tabla = @Id_Table;
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarRegistroPorID]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarRegistroPorID]
    @ID INT
AS
BEGIN
    update [dbo].[LogMantenimiento_Tabla]
	set Estatus = 'Desactivado'
    WHERE Id_Tabla = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Habitaciones]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Guardar_Habitaciones](
@Precio int,
@Id int,
@Tipo int
)
as
Begin
	insert into [dbo].[_HabitacionXMotel]
	values(@Precio,@Id, @Tipo)
end;

GO
/****** Object:  StoredProcedure [dbo].[Guardar_Motel]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Guardar_Motel](
@Nombre nvarchar(50),
@Ubicacion nvarchar(max),
@Sector int,
@Id_User int
)
as 
begin 
	INSERT INTO [dbo].[Motel] ([Nombre],[Ubicacion],[Id_Sector],[ID_Usuario])
	VALUES (@Nombre,@Ubicacion,@Sector,@Id_User)
	
end
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Servicios]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Guardar_Servicios](
@Motel int,
@Habitaciones int,
@Servicio int
)
as
Begin
	insert into [dbo].[ServiciosXhabitaciones]
	values (@Motel,@Habitaciones,@Servicio)
end;
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Usuario]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Guardar_Usuario](
@Nombre nvarchar(50),
@Pswd nvarchar(50),
@Tipo_usuario nvarchar(50),
@estatus bit)
as
begin
	insert into [dbo].[Lista_Usuarios] ([Nom_Usuario], [Psswd], [Tipo_usuario], [Estatus])
	values (@Nombre,@Pswd, @Tipo_usuario,@estatus);
end
GO
/****** Object:  StoredProcedure [dbo].[GuardarPagos]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GuardarPagos](
@Id_Motel int,
@Id_Pago int
)
as
begin
	insert into [dbo].[Motel_Forma_Pago]
	values(@Id_Motel,@Id_Pago)
end;
GO
/****** Object:  StoredProcedure [dbo].[Registro]    Script Date: 18/09/2023 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Registro](
@Nom_Usuario nvarchar(25)
)
as
begin 
	declare @nuevoestado bit

	SELECT @nuevoestado = Estatus
    FROM Lista_Usuarios
    WHERE Nom_Usuario = @Nom_Usuario;

	update Lista_Usuarios
	set Estatus = CASE WHEN @NuevoEstado = 0 THEN 1 ELSE 0 END
	where Nom_Usuario = @Nom_Usuario
end;
GO
USE [master]
GO
